<!-- 左侧导航区 -->  
<!-- 菜单区 -->
<ul class="main-menu">
    <li>
        <a class="waves-effect switch-systems" ng-click="goToIndex()" ><i class="glyphicon glyphicon-home"></i> 首页</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ng-click="goToTest1()"><i class="glyphicon glyphicon-align-justify"></i> 数据源配置</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ng-click="goToTest2()"><i class="glyphicon glyphicon-user"></i> 需求管理</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ng-click="goToStudent()"><i class="glyphicon glyphicon-lock"></i> 模板配置</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ><i class="glyphicon glyphicon-search "></i>物料查询</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ><i class="glyphicon glyphicon-edit"></i> 策略配置</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ><i class="glyphicon glyphicon-tags"></i>检查报告</a>
    </li>
    <li >
        <a class="waves-effect switch-systems" ><i class="glyphicon glyphicon-ok-circle"></i>黑白名单</a>
    </li>
</ul>
<!-- /菜单区 -->
